<%# Categories %>
<div class="categories col-6">
  <%# Category 1 %>
  <%= link_to root_path(query: "Food_Preparation"), class:"link" do  %>
    <div class="category">
      <img class="category_pic" src="<%= asset_url("backen.png")%>">
      <p class="category_name">Food Preparation</p>
    </div>
  <% end %>
  <%# Category 2 %>
  <%= link_to root_path(query: "Cooking_Appliances"), class:"link" do  %>
  <div class="category">
    <img class="category_pic" src="<%= asset_url("gerat.png")%>">
    <p class="category_name">Cooking Appliances</p>
  </div>
   <% end %>
  <%# Category 3 %>
  <%= link_to root_path(query: "Outdoor_Cooking"), class:"link" do  %>
  <div class="category">
    <img class="category_pic" src="<%= asset_url("grill.png")%>">
    <p class="category_name">Outdoor Cooking</p>
  </div>
   <% end %>
  <%# Category 4 %>
  <%= link_to root_path(query: "Beverage_Appliances"), class:"link" do  %>
  <div class="category">
    <img class="category_pic" src="<%= asset_url("getrank.png")%>">
    <p class="category_name">Beverage Appliances</p>
  </div>
   <% end %>
  <%# Category 5 %>
  <%= link_to root_path(query: "Specialty_Appliances"), class:"link" do  %>
  <div class="category">
    <img class="category_pic" src="<%= asset_url("staubsauger.png")%>">
    <p class="category_name">Specialty Appliances</p>
  </div>
   <% end %>
</div>

<%# Elements %>
<div id="kitchens" class="row">
  <% @kitchens.each do |kitchen| %>
    <div class="col-md-3 mb-3">

      <div class="card" style="width: 18rem;">
        <% if kitchen.photo.attached? %>
          <%= cl_image_tag kitchen.photo.key, height: 300, width: 400, class: "card-img-top img-fluid", crop: :fill %>
        <% else %>
          <img src="https://picsum.photos/200/300" class="card-img-top img-fluid" alt="Kitchen Image">
        <% end %>

        <div class="card-body">
          <div class="price-rating">
            <p> <%= "★" * kitchen.average_rating.to_i %> </p>
            <p id="price">€<%= kitchen.price%>/ day </p>
          </div>
          <h5 class="card-title">
            <%= link_to kitchen.name, kitchen, style: "color: black", class: "text-decoration-none" %>
          </h5>
          <p class="card-text">
            <%= kitchen.description %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
