<h1><%= @kitchen.name%></h1>


<p style="color: green"><%= notice %></p>




<div class="card">
  <%= link_to "Edit this kitchen", edit_kitchen_path(@kitchen) %> |
  <%= link_to "Back to kitchens", kitchens_path %>

  <%= link_to "Rent Now", new_kitchen_booking_path(@kitchen), class: "btn btn-primary" %>

  <%= button_to "Destroy this kitchen", @kitchen, method: :delete %>
</div>

<h1>Reviews</h1>
<%=  %>
