<%# Route: kitchens/:id/bookings/new %>
<p style="color: green"><%= notice %></p>

<%= link_to "← go back", kitchens_path, class:"link" %>

<h1>Make a booking</h1>
<%# <p>Find me in app/views/bookings/new.html.erb</p> %>
<div class="border">
  <div class="d-flex justify-content-around">

  <div class="kitchen-container">
    <div class="item-container">
      <div class="info-container">
        <%= image_tag "logo.png" %>
        <div>
          <h3><%= @kitchen.name %></h3>
          <p>Rating: ⭐️ /5</p>
          <ul>
            <li>detail 1</li>
            <li>detail 2</li>
          </ul>
        </div>
      </div>
    </div>
      <div class="owner-card">
        <%= image_tag "logo.png" %>
        <div>
          <p>Owner Name</p>
          <p>

          </p>
        </div>
      </div>
  </div>

  <div class="booking-container">
      <div>
        <%= simple_form_for [@kitchen, @booking] do |form| %>
            <%= form.input :start_date %>
            <%= form.input :end_date %>
            <%= form.input :message %>
          <%= form.submit "Rent Now", class: "btn btn-primary" %>
        <% end %>

        <%# <%= link_to "Go Back To Overview", kitchen_path(@kitchen), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

</div>

<%# Kitchen Info %>
<div class="card">
  <h1 class="card-title">
    <%= @kitchen.name%>
  </h1>
  <p class="card-body">
    <%=@kitchen.description %>
    €<%= @kitchen.price%>/day
  </p>
    <%# <%= @kitchen.pic %>
</div>

<%= link_to "Rent Now", new_kitchen_booking_path(@kitchen), id:"rent_bnt", class:"btn button" %>

<%# Reviews %>
<div class="card">
  <h1 class="card-title">
    Reviews
  </h1>
  <p class="card-body">
    <%@kitchen.reviews.each do |review| %>
    <div>
      <%= review.content %>
      <%= review.rating %>
    <%end%>
    </div>
  </p>
</div>


