<%# Route: kitchens/:id/bookings/new %>
<p style="color: green"><%= notice %></p>

<%= link_to "← go back", kitchens_path, class:"link" %>

<%# Kitchen Info %>


<%# <p>Find me in app/views/bookings/new.html.erb</p> %>

<div class="d-flex justify-content-around">
  <div class="item-container">
    <div class="info-container">
      <%= cl_image_tag @kitchen.photo.key%>
      <div>
        <h3 class="card-title"><%= @kitchen.name %></h3>
        <p class="item-body">
          Rating: ★<%= @kitchen.average_rating %>/5
        </p>
        <p class="item-body">
          Details: <%= @kitchen.description%>
        </p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="owner-card">
      <%= cl_image_tag @kitchen.user.photo.key, height: 300, width: 400, class: "card-img-top img-fluid", crop: :fill %>
      <div>
        <p>
          The owner of this kitchen is <%= @kitchen.user.first_name %>
        </p>
        <p>
        </p>
       </div>
    </div>


    <div class="booking-container">
      <div>
        <%= simple_form_for [@kitchen, @booking] do |form| %>
          <%= form.input :start_date %>
          <%= form.input :end_date %>
          <%= form.input :message %>
          <%= form.submit "Rent Now", id:"rent_bnt", class:"btn button" %>
        <% end %>
        <%# <%= link_to "Go Back To Overview", kitchen_path(@kitchen), class: "btn btn-secondary" %>
      </div>
    </div>
    <div class="reviews-container">
      <h1 class="card-title">
        Reviews
      </h1>
        <div class="review-content" >
        <%@kitchen.reviews.each do |review| %>
          <p class="rating">
            ★<%= review.rating %>/5
          </p>
          <p class="content">
          <%= review.content%>
          </p>
        <%end%>
        </div>
    </div>
  </div>
</div>



<%# Reviews %>
